.login-page {
    @include flexy(center, center, wrap);
    div {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        @include flexy(center, center, wrap);

        label {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 1.6rem;
        }

        input {
            width: 90%;
            display: block;
            margin: 0.5rem auto;
            @extend %input;
            @include mq('md') {
                width: 65%;
            }
        }
    }

    button {
        @extend %btn;
        &:hover {
            background: rgb(12, 194, 72);
            color: #fff;
            border: none;
        }
    }
}