html {
  box-sizing: border-box;
  font-size: 10px; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

.main-header {
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-header a {
  font-size: 1.5rem;
  margin: 0 1rem;
  color: rgba(0, 0, 0, 0.85); }

.main-header a:first-of-type {
  margin-right: auto; }

.main-header a.is-active {
  font-weight: 700;
  font-size: 1.65rem;
  color: #1021c0; }
