.main-header {
    background: #fff;
    padding: 10px 0;
}

.main-header > h1 {
    color: rgb(51, 194, 82);
    text-align: center;
}

form {
    width: 100%;
    padding: 20px;
    position: relative;
    text-align: center;
}

input[type="text"] {
    width: 75%;
    height: 40px;
    margin: 10px auto;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    font-size: 1.5rem;
}

input[type="submit"] {
    height: 40px;
    display: block;
    border: none;
    width: 75%;
    margin: -10px auto 0;
    border-radius: 0 0 5px 5px;
    background: rgb(51, 194, 82);
    color: #fff;
    font-size: 1.55rem;
    transition: background 0.55s ease-in;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: rgb(53, 163, 80);
}

.tasks {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tasks > li {
    width: 85%;
    margin: 1.5rem auto;
    background: #fff;
    text-align: center;
    color: rgba(0,0,0,0.85);
    font-size: 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

.task-name {
    font-size: 2rem;
    font-weight: 300;
    background: rgb(10, 173, 91);
    color: #fff;
    margin-bottom: 0.5rem;
    transition: all 0.55s ease-in;
}

.tasks > li:hover .task-name {
    background: rgba(150, 33, 72, 0.616);
    color: #fff;
}

@media (min-width: 960px) {
    input[type="text"],
    input[type="submit"] {
        width: 50%;
    }

    .tasks > li {
        width: 30%;
    }
}